@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: "Inter", system-ui;
    font-style: normal;
    font-optical-sizing: auto;
    font-weight: 300;
    margin: 0;
    padding: 0;
    background-color: #F5B5AA;
    line-height: 1.6;
    font-size: 1.2em;
}

html {
    scroll-behavior: smooth;
}

nav {
    background-color: #8E3E63;
    color: #fff;
    padding: 1rem;
}

.menu-links {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-link a {
    color: #fff;
    text-decoration: none;
    padding: 1rem 2rem;
    display: block;
}

.menu-link a:hover {
    background-color: #e46aa5;
    transition: .5s;
}

main {
    padding: 2rem;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 2rem;
}

.titulo {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.grid-sobre-mim {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
    align-items: center;
}

.imagem-perfil{
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.texto-sobre-mim{
    text-align: justify;
}

.texto{
    color: #fff;
}

.projeto-item .texto{
    color: #333;
}

.secao {
    margin-bottom: 2rem;
    padding: 2rem;
    border-radius: 10px;
}

.lista-projetos {
    list-style: none;
    padding: 0;
}

.projeto-item {
    background-color: #fff;
    border: 1px solid #333;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 5px;
}
.container .formulario-contato {
    background-color: #fff;
    padding: 35px;
    border: 1px solid #333;
}

.formulario-contato {
    display: flex;
    flex-direction: column;
}


.formulario-contato label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.formulario-contato input,
.formulario-contato textarea {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

.formulario-contato button {
    padding: 0.7rem;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
}

.formulario-contato button:hover {
    background-color: #575757;
}